.header img {
    /* float: left; */
    position: relative;
    /* width: 100px; */
    height: 100px;
    /* background:; */
    top: 10px;
    bottom: 20px;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

body {
    /* background-image: linear-gradient(white,#E7EBEC, #141832, black); */
    background-color: #E7EBEC;
}

div {border-color: green;}

.video {
    background-image: linear-gradient(transparent, #141832, black);
}

.extrablack {
    height: 800px;
    background-color: black;
}

#sunbucket {
    display: inline-block;
    position: fixed;
    top: 60px;
    z-index: 1;
    margin-left: 500px;
    height: 800px;
    width: 800px;
    /* background-color: #ddd; */
}

#sunburst {
    height: 600px;
    width: 600px;

}