@font-face {
  font-family: "metric-test-regular";
  src: url("../fonts/metric-test-regular.woff") format('woff');
  font-style: normal;
}

@font-face {
  font-family: "metric-test-regular";
  src: url("../fonts/metric-test-regular-italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "metric-test-light";
  src: url("../fonts/metric-test-light.woff") format('woff');
  font-style: normal;
}

@font-face {
  font-family: "metric-test-regular";
  src: url("../fonts/metric-test-light-italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "metric-test-semibold";
  src: url("../fonts/metric-test-semibold.woff") format('woff');
  font-style: normal;
}

@font-face {
  font-family: "metric-test-semibold";
  src: url("../fonts/metric-test-semibold.woff") format('woff');
  font-style: italic;
}

.container {
  width: 1080px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 3s ease-out;
}

#graphic {
  padding-top: 60px;
}

.x_axis path, .x_axis line{
  display: none;
}

.x_axis text {
  font-size: 16px;
  font-family: 'Special Elite', cursive;
}

.bar_text {
  font-size: 30px; 
  text-anchor: middle;
  font-family: 'Special Elite', cursive;
}

.note {
  font-family: "metric-test-light";
  font-size: 10px;
  font-style: italic;
  line-height: 12px;
}

#sections_distribution {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  /* position: relative;
  display: inline-block; */
  width: 1080px;
  height: 600px;
  top: 0px;
  z-index: 90;
  /* padding-bottom: 200px; */
}

#sections {
    position: relative;
    display: inline-block;
    /* top: 0px; */
    margin-top: auto;
    /* height: 300px; */
    /* margin-bottom: 300px; */
    z-index: 90;
    font-family: 'Special Elite', cursive;
}

.cover {
  height: 200px;
  margin-top: 250px;
  /* margin-bottom: 200px; */
  /* font-family: "TiemposTextWeb-Regular","san-serif"; */
  font-family: "metric-test-light";
  font-size: 24px;
  /* line-height: 23px; */
  color: #262626;
}

.cover .title{
  height: 200px;
  /* margin-top: 200px; */
  /* margin-bottom: 200px; */
  font-family: "metric-test-semibold";
  font-size: 72px;
  line-height: 72px;
  color: #262626;
}

#intro {
  position: relative;
  display: inline-block;
  top: 50px;
  /* height: 300px; */
  /* margin-bottom: 300px; */
  margin: auto;
  /* z-index: 90; */
  font-family: 'Special Elite', cursive;
}

.step {
  overflow: hidden;
  /* display: inline-block;
  position: relative; */
  width: 40%;
  height: 600px;
  /* height: 50vh; */
  vertical-align: middle;
  margin-bottom: auto;
  margin-top: 200px;
  margin-left: 60%;
  /* font-family: "TiemposTextWeb-Regular","san-serif"; */
  /* font-family: "metric-test-regular"; */
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  line-height: 20px;
  /* color: #767678; */
  color: rgba(49, 49, 49, 0.856);
}

#sections_distribution .title, #sections .title {
  overflow: hidden;
  font-family: 'Special Elite', cursive;
  font-size: 32px;
  font-weight: bold;
  /* margin-left: 60%; */
  color: black;
  line-height: 1.2em;
  margin-bottom: auto;
  margin-top: auto;
}

#extra-space {
  height: 300px;
}

#vis, #secondvis, #thirdvis, #forthvis {
  /* float: left; */
  overflow: hidden;
  width: 60%;
  display: inline-block;
  position: absolute;
  /* top: 60px; */
  z-index: 1;
  /* margin-left: -80px; */
  margin-top: auto;
  margin-bottom: auto;
  /* -webkit-transition: all 0.3s ease-out; Safari<=6 Android<=4.3 */
  /* transition: all 3s ease-out; */
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.video {
  height: 800px;
  font-family: "metric-test-light";
  font-size: 24px;
  color:white;
}

.video .container .title {
  font-family: "metric-test-semibold";
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 23px;
}

.video .container .text {
  width: 300px;
  height: 50vh;
  margin-top: 300px;
  font-family: "metric-test-regular";
  font-size: 16px;
  line-height: 23px;
  color: white;
}

.extrablack .container .title {
  font-family: "metric-test-semibold";
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 23px;
}

.extrablack .container .text {
  width: 300px;
  height: 50vh;
  margin-top: 300px;
  font-family: "metric-test-regular";
  font-size: 16px;
  line-height: 23px;
  color: white;
}

button {
  font-family: 'Special Elite', cursive;
  font-size: 16px;
}