div.tooltip {
  position: absolute;
  text-align: center;
  /* width: 100px;
  height: 30px; */
  padding: 5px;
  font: 14px sans-serif;
  background: white;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}
