#header-section {
    background-size:100% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
}
#header {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#first-section {
    margin-right: 100px;
}

#bar-chart {
    position: relative;
    width: 50%;
    text-align: right;
}